  <div id="wrapper">
    <div id="box">
      <h1 class="serious-font">&ldquo;In fact, researchers have settled on what they believe is the magic number for true expertise: ten thousand hours.&rdquo; - <i>Malcolm Gladwell</i></h1>
      <h2>Anthony Kim</h2>
      <h4>A medical guy who decided to quit and start learning how to code. For the love of building cool things!</h4>
        <ul id="navigator">
          <li><a href="/">home</a> / </li>
          <li><a href="/projects/">projects</a> / </li>
          <li><a href="/archive/">archive</a></li>
        </ul>
    </div>
  </div>