  <div id="wrapper">
    <div id="box">
      <header>
        <h1>&ldquo;In fact, researchers have settled on what they believe is the magic number for true expertise: ten thousand hours.&rdquo; - <i>Malcolm Gladwell</i></h1>
        <h3>Anthony Kim</h3>
          <ul id="navigator">
            <li><a href="/">home</a> / </li>
            <li><a href="/projects/">projects</a> / </li>
            <li><a href="/archive/">archive</a></li>
          </ul>
      </header>
      <div class="solid-line"></div>
    </div>
  </div>