<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  {% include head.html %}
</head>
<div id="container">
<header class="full-header">
  <div class="container-wide white" >
    {% include header.html %}
  </div>
</header>

<body>

<div class="container margin-bottom-50 white">
    
  <div id="content">
    {{ content }}
  </div>
</div>
</div>

<footer>
  {% include footer.html %}
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% javascript app %}

</body>
</html>
